<%= form_with(model: role_permission, local: true) do |form| %>
<% if role_permission.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(role_permission.errors.count, "error") %> prohibited this role_permission from being saved:</h2>

  <ul>
    <% role_permission.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
</div>
<div class="row gutters">
  <div class="col col-2">
    <div class="field">
      <strong>Роль</strong>
      <%= form.collection_select :role_id, @roles, :id, :title, {:include_blank => 'нет'}, {:disabled => 'disabled'} %>
    </div>

    <div class="field">
      <strong>Статус</strong>
      <%= form.collection_select :status_id, @statuses, :id, :title, {:include_blank => 'нет'}, {:disabled => 'disabled'} %>
    </div>
  </div>
  <div class="col col-9">

    <div class="row vertical-gut" id="permissions_list">
      <div class="col col-12">
        <strong>Разрешения</strong>
      </div>
      <div class="col col-12 vertical-gut">
        <%= form.text_field :permissions, id: :role_permission_permissions %>
      </div>
      <% unless @permissions.size == 0 %>
      <% @permissions.list.each do |l| %>
      <div class="col col-2" name="<%= l %>">
        <%= check_box :prms.to_s, "#{ l }", { checked: ( @permissions.prms(l) == '1' )} %> - <%= l %> (<%= link_to "Удалить", "#", class: "del_perm" %>)
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="row vertical-gut">
      <div class="col col-3 append" id="new_permission">
        <%= text_field_tag :new_permission, '',  id: 'new_permission_name' %>
        <%= link_to "Создать", "#", class: "button new_permission" %>
      </div>
    </div><br>
    <div class="row">
      <div class="col col-12">
        <strong>Доступные статусы заявок</strong>
      </div>
      <div class="col col-12 prepend">
        <span>Статусы</span>
        <%= form.text_field :statuses %>
      </div>
    </div>

  </div>
</div>

<% end %>
