
<%= form_with(model: price, local: true) do |form| %>
<% if price.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

  <ul>
    <% price.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field row gutters">
  <div class="col col-2">
    Код работ
    <%= form.text_field :code, id: :price_code %>
  </div>
  <div class="col col-2">
    Код текстовый
    <%= form.text_field :text_code, id: :price_text_code %>
  </div>
  <div class="col col-10">
    Наименование работы
    <%= form.text_field :description, id: :price_description %>
  </div>
</div>

<div class="field row gutters vertical-gut">
  <div class="col col-2">
    Единица
    <%= form.text_field :unit, id: :price_unit %>
  </div>
  <div class="col col-10">
    Стоимость
    <%= form.text_field :price, id: :price_price %>
  </div>
</div>

<div class="actions">
  <%= form.submit "Сохранить" %>
</div>
<% end %>
