<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>O2O</title>

  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="main_container row">
    <div class="col col-4 offset-4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
