<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Name long:</strong>
  <%= @account.name_long %>
</p>

<p>
  <strong>Is service:</strong>
  <%= @account.is_service %>
</p>

<p>
  <strong>Password:</strong>
  <%#= @account.password %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
